footer
  .footer-wrap.p-3
    .footer-menu.d-flex.d-sm-none.justify-content-around.align-items-center
      a(href="#").footer-item
        .img
          img(src="/img/svg/home.svg")
        span главная
      a(href="#").footer-item
        .img
          img(src="/img/svg/catalogue.svg")
        span каталог
      a(href="#").footer-item
        .img
          img(src="/img/svg/cart.svg")
        span корзина
      a(href="#").footer-item
        .img
          img(src="/img/svg/profile.svg")
        span профиль
      a(href="#").footer-item
        .img
          img(src="/img/svg/menu.svg")
        span меню
